:global(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.search_input {
  flex: 1;
  width: 200px;
  height: 32px;
  border: 1px solid;
  border-radius: 5px;
  border-color: silver;
  padding: 0 16px;
  background: lightcyan;
  font-size: 16px;
}

.search_button {
  width: 80px;
  height: 32px;
  border: 1px solid;
  border-radius: 10px;
  border-color: silver;
  background: lightcyan;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.search_button:active {
  transform: scale(0.95);
}

.item_type {
  width: 170px;
  height: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: silver;
  background: lightcyan;
  font-size: 13px;
}

.type_checkbox {
  height: 20px;
  margin: 0.4rem;
}

.inline_block {
  display: inline-block;
}

.ids_box {
  width: 200px;
  height: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: silver;
  background: lightcyan;
}

.ids_range {
  width: 40px;
  height: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: silver;
  background: lightcyan;
  margin-left: clamp(0px, 95px, 95px);
}

.type_label {
  align-items: center;
  display: inline-flex;
  height: 20px;
}

.sort_type {
  width: 90px;
  height: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: silver;
  background: lightcyan;
  font-size: 13px;
}

.result_box {
  border: 1px solid;
  border-radius: 5px;
  border-color: silver;
}

.item_display_area {
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  border-color: silver;
  font-size: 12px;
  width: 250px;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip:hover .tooltip_text {
  opacity: 1;
  visibility: visible;
}

.tooltip_text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  display: inline-block;
  padding: 5px;
  font-size: 10.5px;
  line-height: 1.3;
  background: #333;
  color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  width: 250px;
  max-height: 200px;
  white-space: normal;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
}

.tooltip_text::before {
  content: '';
  position: absolute;
  top: -13px;
  margin-left: -7px;
  border: 7px solid;
  border-bottom: 7px solid #333;
}

.reset_filter_button {
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
  border-color: silver;
  background: lightcyan;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.reset_filter_button:active {
  transform: scale(0.95);
}

.all_type_onoff_button {
  width: 120px;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
  border-color: silver;
  background: lightcyan;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.all_type_onoff_button:active {
  transform: scale(0.95);
}

.util_buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: auto;
  text-align: right;
}

.id_range_and_util {
  display: flex;
}

.displayed_count {
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}

@media (width <= 425px) {
  .id_range_and_util {
    display: block;
  }

  .displayed_count {
    display: flex;
    position: static;
    left: 0;
    transform: none;
    margin-left: clamp(0px, 10px, 20px);
  }
  
}